In [53]:
# import required libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import urllib.request
import json

In [54]:
# read original dataset from file
df = pd.read_csv('/home/fede/workspace/DataLab/python/data/payments_w_city_weather.txt', sep='|', header=0, decimal=",")

In [55]:
remap = {
    'LUNES': 1,
    'MARTES': 2,
    'MIÉRCOLES': 3,
    'JUEVES': 4, 
    'VIERNES': 5,
    'SÁBADO': 6,
    'DOMINGO': 7
}
df['NUM_DIA_SEMANA'] = df['DIA_SEMANA'].map(remap)

In [57]:
#df.FRANJA_HORARIA = pd.to_numeric(df.FRANJA_HORARIA.str.slice(0,2))
df.IMPORTE_2 = pd.to_numeric(df.IMPORTE.str.slice(0,2), downcast='float')
df.IMPORTE = df.IMPORTE.astype(float)
#df.NUM_OP = pd.to_numeric(df.NUM_OP.str.slice(0,2))
df.LAT_CLIENTE = pd.to_numeric(df.LAT_CLIENTE.str.slice(0,2), downcast='float')
df.LON_CLIENTE = pd.to_numeric(df.LON_CLIENTE.str.slice(0,2), downcast='float')
df.HUMEDAD = pd.to_numeric(df.HUMEDAD.str.slice(0,2), downcast='float')
df.SENSAC_TERMICA = pd.to_numeric(df.SENSAC_TERMICA.str.slice(0,2), downcast='float')
df.TEMPERATURA = pd.to_numeric(df.TEMPERATURA.str.slice(0,2), downcast='float')
#df.NUM_DIA_SEMANA = pd.to_numeric(df.NUM_DIA_SEMANA.str.slice(0,2))

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [ ]:
df.head()

In [45]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

newdf = df.select_dtypes(include=numerics)

In [46]:
del newdf['CP_CLIENTE']
del newdf['CP_COMERCIO']
del newdf['TIMESTAMP']
newdf.head()

,FRANJA_HORARIA,IMPORTE,NUM_OP,LAT_CLIENTE,LON_CLIENTE,HUMEDAD,SENSAC_TERMICA,TEMPERATURA,NUM_DIA_SEMANA
0,16,2.0,1,39.0,0.0,0.0,16.0,16.0,5
1,20,20.0,1,39.0,0.0,0.0,6.0,7.0,5
2,22,13.0,1,39.0,0.0,0.0,8.0,9.0,6
3,22,16.0,1,39.0,0.0,0.0,7.0,7.0,2
4,14,16.0,1,39.0,0.0,0.0,15.0,15.0,3

In [19]:
dataset_array = df.values
print(dataset_array.dtype)
print(dataset_array)

object
[[46001 46001 'RESTAURACION' ..., '16.99' 'Nublado' 'VIERNES']
 [46001 46001 'RESTAURACION' ..., '7.08' 'Despejado' 'VIERNES']
 [46001 46001 'RESTAURACION' ..., '9.81' 'Despejado' 'SÁBADO']
 ...,
 [46780 46002 'HOGAR' ..., '26.54' 'Despejado' 'VIERNES']
 [46830 46004 'OCIO Y TIEMPO LIBRE' ..., '20.08' 'Nublado' 'VIERNES']
 [46900 46005 'ALIMENTACION' ..., '20.1' 'Lluvia' 'MIÉRCOLES']]